:root {
    --theme-name: 'light';

    /* Body */
    --theme-body-background-color: #EDF2F9;
    --theme-scrollbar-color: #ABABAB;
    --theme-transition: 0.3s;

    /* Text colors */
    --theme-text-color: #344050;
    --theme-reversed-text-color: white;

    /* Defaults */
    --theme-default-text-hover-color: #232e3c;
    --theme-default-background-hover-color: #f6f7fb;
    --theme-default-button-text-color: white;

    /* Colors */
    --theme-main-color: #2C7BE5;
    --theme-main-color-lighter: #96BDF2;
    --theme-secondary-color: #F5803E;
    --theme-danger-color: #E63757;
    --theme-success-color: #00D27A;
    --theme-cancel-color: #748194;

    /* Box */
    --theme-background-color: white;
    --theme-border-radius: 6px;
    --theme-box-shadow: 0 0 8px 0px #102a4e17;

    /* Navbar */
    --theme-navbar-text-color: #5e6e82;
    --theme-navbar-text-hover-color: var(--theme-default-text-hover-color);
    --theme-navbar-title-color: #9da9bb;

    /* Pre content */
    --theme-pre-content-background-color: #f9fafd;

    /* Table */
    --theme-thead-background-color: var(--theme-pre-content-background-color);
    --theme-thead-text-color: #4d5969;
    --theme-tbody-tr-border-color: #edf2f9;
    --theme-tbody-tr-hover-background-color: var(--theme-default-background-hover-color);

    /* Filter */
    --theme-filter-header-background-color: var(--theme-thead-background-color);

    /* Form Input & Label */
    --theme-label-text-color: #5e6e82;
    --theme-input-box-shadow: inset 0 1px 2px #00000013, 0 0 0 0.25rem #2c7be540;
    --theme-input-border: 1px solid #c2ccd9;
    --theme-input-background-color: white;
    --theme-readonly-input-background-color: #f1f1f1;

    /* Selectize */
    --theme-selectize-active-option-text-color: var(--theme-text-color);
    --theme-selectize-active-option-background-color: #f2f2f2;
    --theme-multiselectize-selected-option-text-color: var(--theme-selectize-active-option-text-color);
    --theme-multiselectize-selected-option-background-color: var(--theme-selectize-active-option-background-color);
    --theme-taggable-selectize-selected-option-text-color: var(--theme-selectize-active-option-text-color);
    --theme-taggable-selectize-selected-option-background-color: var(--theme-selectize-active-option-background-color);

    /* Pagination */
    --theme-pagination-item-background-color: var(--theme-background-color);
    --theme-pagination-link-border: var(--theme-input-border);
    --theme-pagination-link-hover-border-color: var(--theme-main-color);
    --theme-pagination-active-link-background-color: var(--theme-main-color);
    --theme-pagination-arrows-color: #a7a7a7de;

    /* Modal */
    --theme-modal-header-bottom-border: 1px solid #dee2e6;
    --theme-modal-header-background-color: #f9fafd;
    --theme-modal-dismiss-button-color: #a9a9a9;

    /* Ava */
    --theme-ava-description-color: #c5c5c5;

    /* Statistics */
    --theme-statistics-counter-item-border: none;
    --theme-chart-label-background-color: white;
    --theme-chart-toolbox-icons-color: #959595;
    --theme-chart-splitlines-color: #ced7e3;
}

/* ------------ Badges ------------ */
.badge--yellow {
    color: #66662c;
    background-color: #FFFFCC;
}

.badge--pink {
    color: rgb(147, 35, 56);
    background-color: rgb(250, 215, 221);
}

.badge--orange {
    background-color: rgb(253, 230, 216);
    color: rgb(157, 82, 40);
}

.badge--blue {
    color: rgb(25, 120, 162);
    background-color: rgb(212, 242, 255);
}

.badge--red {
    background-color: rgb(230, 55, 87);
    color: rgb(255 212 220);
}

.badge--grey {
    color: rgb(125, 137, 155);
    background-color: rgb(227, 230, 234);
}

.badge--green {
    color: rgb(0, 134, 78);
    background-color: rgb(204, 246, 228);
}

/* ------------ /end Badges ------------ */


/* ------------ Daterangepicker ------------ */
/* Selected range start date and end dates */
.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: var(--theme-main-color);
    color: var(--theme-default-button-text-color);
}

/* Buttons */
.daterangepicker .drp-buttons .btn {
    color: var(--theme-default-button-text-color);
    background-color: var(--theme-main-color);
    border-color: var(--theme-main-color);
}

/* ------------ /end Daterangepicker ------------ */


/* ------------ Button hovers ------------ */
.button--main:hover {
    background-color: #2362b7;
}

.button--cancel:hover {
    background-color: #636e7e;
}

.button--danger:hover {
    background-color: #c42f4a;
}

.button--success:hover {
    background-color: #05b96d;
}

/* ------------ /end Button hovers ------------ */
