@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@import '../../public/plugins/normalize.css';
@import '../../public/plugins/selectize/selectize.css';
@import '../../public/plugins/date-range-picker/daterangepicker.css';
@import 'components.css';
@import 'form.css';

:root {
    --material-symbols-filled: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    --material-symbols-lighter: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;

    --shrinked-body-width: 1680px;
    --header-height: 48px;
    --leftbar-width: 140px;
    --pre-content-height: 50px;
    --table-pagination-height: 40px;
    --thead-height: 42px;
    --rightbar-width: 200px;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Fira Sans', sans-serif;
    color: var(--theme-text-color);
    background-color: var(--theme-body-background-color);
}


/* ------------ Default styles ------------ */
*,
::after,
::before {
    box-sizing: border-box;
}

p {
    margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem;
    line-height: 1.2;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

picture {
    display: flex;
}

a {
    color: inherit;
}

/* ------------ /END Default styles ------------ */


/* ------------ Scrollbars ------------ */
body::-webkit-scrollbar,
.thin-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

body::-webkit-scrollbar-track,
.thin-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body::-webkit-scrollbar-thumb,
.thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--theme-scrollbar-color);
    outline: 1px solid var(--theme-scrollbar-color);
}

/* ------------ /END Scrollbars ------------ */


/* ------------ Main mutators ------------ */
.capitalized {
    text-transform: capitalize;
}

.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

/* ------------ /END Main mutators ------------ */


/* ------------ Main theme ------------ */
.main-title {
    color: var(--theme-secondary-color);
    font-size: 18px;
    font-weight: 500;
}

.styled-box {
    background-color: var(--theme-background-color);
    border-radius: var(--theme-border-radius);
    box-shadow: var(--theme-box-shadow)
}

/* ------------ /END Main theme ------------ */


/* ------------ Buttons ------------ */
button {
    color: var(--theme-default-button-text-color);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 48px;
    color: var(--theme-default-button-text-color);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: var(--theme-transition);
}

.button__icon {
    font-size: 22px;
}

.button__text {
    font-size: 15px;
    font-weight: 500;
}

.button__text:empty {
    display: none;
}

.button:disabled {
    cursor: not-allowed;
}

.button--main {
    background-color: var(--theme-main-color);
}

.button--cancel {
    background-color: var(--theme-cancel-color);
}

.button--danger {
    background-color: var(--theme-danger-color);
}

.button--success {
    background-color: var(--theme-success-color);
}

.button--transparent {
    background-color: transparent;
    padding: 0;
}

.button--rounded {
    border-radius: 50%;
}

/* Locales button */
.locales-button {
    width: 100%;
    justify-content: flex-start;
    gap: 12px;
    padding: 6px 16px;
    color: var(--theme-text-color);
    background-color: transparent;
    border: none;
    font-size: 15px;
}

.locales-button:hover {
    color: var(--theme-default-text-hover-color);
    background-color: var(--theme-default-background-hover-color);
}

/* Action button */
.button--action {
    padding: 4px 12px;
    background-color: transparent;
    border: var(--theme-input-border);
    color: var(--theme-text-color);
}

.button--action .button__text {
    font-size: 14px;
}

.button--action:hover {
    box-shadow: 0px 0px 12px 1px #00000026;
}

.button--action .button__icon {
    font-size: 18px;
}

/* Arrowed link */
.arrowed-link {
    display: inline-flex;
}

.arrowed-link .button__icon {
    font-size: 20px;
    color: var(--theme-success-color);
}

.arrowed-link .button__text {
    font-size: 14px;
    font-weight: 400;
    color: var(--theme-text-color);
}

/* ------------ /END Buttons ------------ */


/* ------------ Authentication pages ------------ */
/* Login Page */
.login-page .main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.auth-box {
    min-width: 520px;
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.auth-box__logo {
    margin: auto;
}

.auth-box__logo .logo__image {
    width: 180px;
    display: flex;
}

.auth-box__title {
    margin: 24px 0;
    font-size: 28px;
    font-weight: 600;
}

/* ------------ /END Authentication pages ------------ */


/* ------------ Main layouts ------------ */
.body__inner {
    max-width: 100%;
    margin: auto;
    padding: 0 40px;
    transition: var(--theme-transition);
}

.body__inner--shrinked {
    max-width: var(--shrinked-body-width);
}

.main-wrapper {
    position: relative;
    display: flex;
    gap: 20px;
}

.main-wrapper.fullscreen {
    background-color: var(--theme-body-background-color);
}

.main {
    margin-left: calc(var(--leftbar-width) + 20px);
    flex-grow: 1;
    overflow: auto;
}

.main-wrapper.fullscreen .main {
    margin-left: 0;
}

/* ------------ /END Main layouts ------------ */


/* ------------ Navbar ------------ */
.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--theme-navbar-text-color);
}

.navbar--vertical {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding-top: 8px;
}

.navbar-title {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    color: var(--theme-navbar-title-color);
}

.navbar-title--top-margined {
    margin-top: 12px;
}

.navbar-title__text {
    font-size: 13px;
    font-weight: 600;
}

.navbar-title__stroke {
    flex-grow: 1;
    border-top: 1px solid var(--theme-navbar-title-color);
    opacity: 0.3;
}

.navbar-link,
.navbar-button {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: var(--theme-navbar-text-color);
    transition: var(--theme-transition);
}

.navbar-link--active {
    color: var(--theme-main-color) !important;
}

.navbar-link:hover,
.navbar-button:hover {
    color: var(--theme-navbar-text-hover-color);
}

.navbar-link__icon,
.navbar-button__icon {
    font-size: 16px;
    font-variation-settings: var(--material-symbols-filled);
}

.navbar-link__text,
.navbar-button__text {
    font-size: 14px;
    font-weight: 500;
}

/* ------------ /END Navbar ------------ */


/* ------------ Header ------------ */
.header {
    height: var(--header-height)
}

.header__inner {
    padding: 4px 0;
    display: flex;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 4px;
}

.leftbar-toggler {
    display: flex;
    padding: 6px;
    transform: translateX(-8px);
    color: var(--theme-navbar-text-color);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: var(--theme-transition);
}

.leftbar-toggler span {
    font-size: 18px;
}

.leftbar-toggler:hover {
    background-color: var(--theme-default-background-hover-color);
}

.header__logo {
    display: flex;
}

.header__logo .logo__image {
    width: 100px;
}

.header__right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__notifications {
    display: flex;
    text-decoration: none;
}

.header__navbar-button {
    font-variation-settings: var(--material-symbols-filled);
    color: var(--theme-navbar-text-color);
}
/* ------------ /END Header ------------ */


/* ------------ Leftbar ------------ */
.leftbar {
    width: var(--leftbar-width);
    position: fixed;
    overflow-y: auto;
    max-height: 100%;
    /* For overflow-y visible */
    padding-bottom: calc(var(--header-height) + 12px);
}

.leftbar::-webkit-scrollbar {
    display: none;
}

.main-wrapper.fullscreen .leftbar {
    display: none;
}

/* ------------ /END Leftbar ------------ */


/* ------------ Pre content ------------ */
.pre-content {
    height: var(--pre-content-height);
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--theme-pre-content-background-color);
}

.pre-content--transparent {
    background-color: transparent;
}

.pre-content__fullscreen {
    transform: translateX(-4px);
    margin-right: 18px;
    font-size: 20px;
    cursor: pointer;
}

.pre-content__actions {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

/* ------------ /END Pre content ------------ */


/* ------------ Breadcrumbs ------------ */
.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.breadcrumbs__item a {
    color: var(--theme-main-color);
}

.breadcrumbs__item::before {
    content: '\e5df';
    color: #b0bbc9;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.breadcrumbs__item:first-child:before {
    content: none;
}

/* ------------ /END Breadcrumbs ------------ */


/* ------------ Ava ------------ */
.ava {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ava__image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.ava__text {
    display: flex;
    flex-direction: column;
}

.ava__title:empty {
    display: none;
}

.ava__description {
    font-size: 15px;
    color: var(--theme-ava-description-color);
}

.ava__description:empty {
    display: none;
}

/* ------------ /END Ava ------------ */


/* ------------ Different ------------ */
.create-form,
.edit-form {
    padding-bottom: 40px;
}


/* ------------ /END Different ------------ */


/* ------------ Dropdowns ------------ */
/* Locales */
.locales-dropdown .dropdown__button {
    cursor: pointer;
    gap: 8px;
    padding: 0;
}

.locales-dropdown .dropdown__button:hover {
    background-color: transparent;
}

.locales-dropdown .dropdown__content {
    padding: 8px 0;
    width: 128px;
    right: 0;
    border-radius: var(--theme-border-radius);
    box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

/* Profile */
.profile-dropdown .dropdown__button {
    cursor: pointer;
}

.profile-dropdown .dropdown__content {
    padding: 8px 0;
    width: 152px;
    right: 0;
    border-radius: var(--theme-border-radius);
    box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.profile-dropdown .navbar-link,
.profile-dropdown .navbar-button {
    padding: 4px 12px;
}

/* ------------ /END Dropdowns ------------ */


/* ------------ /END Profile page ------------ */


/* ------------ Sortable columns ------------ */
.sortable-columns {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sortable-columns__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--theme-body-background-color);
    padding: 12px;
    border-radius: var(--theme-border-radius);
    cursor: grab;
}

.sortable-columns__title {
    margin: 0;
    font-size: 15px;
    color: var(--theme-success-color);
}

.sortable-columns .form-group--horizontal .label {
    align-items: center;
}

.sortable-columns__width {
    margin: 8px 0;
    height: 3px;
    background-color: var(--theme-secondary-color);
}

/* ------------ /END Sortable columns ------------ */


/* ------------ Spinner ------------ */
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
    z-index: 10;
}

.spinner__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000063;
}

.spinner__img {
    width: 60px;
}

.spinner--visible {
    visibility: visible;
    opacity: 1;
}

/* ------------ /end Spinner ------------ */


/* ------------ Pagination ------------ */
.pagination {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination__item {
    background: var(--theme-pagination-item-background-color);
    border-radius: 4px;
    transition: var(--theme-transition);
}

.pagination__link {
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    line-height: 1;
    border: var(--theme-pagination-link-border);
    transition: var(--theme-transition);
}

.pagination__item:not(.pagination__item--disabled) .pagination__link:hover {
    border-color: var(--theme-pagination-link-hover-border-color);
}

.pagination__link--active {
    color: #fff;
    background-color: var(--theme-pagination-active-link-background-color);
}

.pagination__link .material-symbols-outlined {
    color: var(--theme-pagination-arrows-color);
}

.pagination__dots {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: 12px;
    padding: 0 4px;
}

/* ------------ /end Pagination ------------ */


/* ------------ Table ------------ */
.table-wrapper+.pagination {
    height: var(--table-pagination-height);
}

.table-wrapper {
    max-height: calc(100vh - var(--header-height) - var(--pre-content-height) - var(--table-pagination-height));
    overflow: auto;
}

.main-table {
    table-layout: fixed;
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
}

.main-table thead {
    position: sticky;
    top: 0;
    height: var(--thead-height);
    vertical-align: top;
    text-align: left;
    font-size: 14px;
    color: var(--theme-thead-text-color);
    background-color: var(--theme-thead-background-color);
}

.main-table th {
    vertical-align: middle;
    padding: 10px 8px;
    font-weight: 400;
    word-break: break-word;
}

.main-table thead a {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}

.main-table thead a.active {
    font-weight: 500;
    color: var(--theme-default-text-hover-color);
}

.main-table thead .material-symbols-outlined {
    font-size: 14px;
}

.main-table tr {
    border-bottom: 1px solid var(--theme-tbody-tr-border-color);
    transition: var(--theme-transition);
}

.main-table tr:hover {
    background-color: var(--theme-tbody-tr-hover-background-color);
}

.main-table tbody {
    font-size: 14px;
    vertical-align: top;
}

.main-table td {
    padding: 8px;
    word-break: break-word;
}

.main-table tr th:first-child,
.main-table tr td:first-child {
    padding-left: 16px;
}

.main-table tr th:last-child,
.main-table tr td:last-child {
    padding-right: 16px;
}

.th__select-all {
    display: block;
    transform: translate(-4px);
    font-size: 22px !important;
    font-variation-settings: var(--material-symbols-lighter);
    cursor: pointer;
}

.th__iconed-title {
    display: block;
    font-size: 22px !important;
}

.td__limited-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.td__link {
    color: var(--theme-main-color);
    text-decoration: none;
}

.td__link:hover {
    text-decoration: underline;
}

.td__link--margined {
    width: max-content;
    display: block;
    margin-bottom: 6px;
}

.td__edit,
.td__attachments,
.td__duplicate,
.td__view {
    width: max-content;
    margin-top: 4px;
    color: var(--theme-main-color);
}

.td__image {
    border-radius: var(--theme-border-radius);
    width: 60px;
}

/* Secondary table */
.secondary-table {
    border-collapse: collapse;
    font-size: 14px;
}

.secondary-table td {
    padding: 6px 12px;
    border: var(--theme-input-border);
}

/* ------------ /END Table ------------ */


/* ------------ Rightbar ------------ */
.rightbar {
    width: var(--rightbar-width);
    min-width: var(--rightbar-width);
    max-height: calc(100vh - var(--header-height));
    overflow-y: auto;
}

/* Filter */
.filter__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: var(--theme-filter-header-background-color);
}

.filter__title {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.filter__reset {
    display: flex;
    text-decoration: none;
}

.filter-form {
    position: relative;
    padding: 20px;
}

.fiter-form__submit {
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ------------ /END Rightbar ------------ */


/* ------------ Badge ------------ */
.badge {
    border-radius: 4px;
    display: inline-flex;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding: 4px 8px;
}

/* ------------ /end Badge ------------ */


/* ------------ Erros ------------ */
.errors {
    margin: 8px 0;
    padding: 12px 20px;
    font-size: 16px;
    color: var(--theme-danger-color);
    background-color: #fce7eb;
    border-radius: var(--theme-border-radius);
}

.errors__title {
    margin-bottom: 4px;
    font-weight: 500;
}

.errors__list {
    margin: 0;
    padding-left: 20px;
}

/* ------------ /end Errors ------------ */


/* ------------ Comment pages ------------ */
.comments-index__box {
    padding: 20px;
}

.comments-index__title {
    margin-bottom: 16px;
    font-size: 16px;
}

/* Create form */
.comments-create-form {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 8px;
    border: var(--theme-input-border);
    border-radius: 40px;
    background-color: var(--theme-background-color);
}

.comments-create-form .ava__title {
    font-size: 15px;
    font-weight: 600;
}

.comments-create-form__input {
    flex-grow: 1;
    padding: 4px 16px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--theme-text-color);
}

.comments-create-form__submit {
    color: var(--theme-main-color);
    font-variation-settings: var(--material-symbols-filled);
}

/* List */
.comments-list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 28px;
}

.comments-list__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.comments-list__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comments-list__actions {
    display: flex;
    gap: 6px;
}

.comments-list__actions .button--rounded {
    padding: 6px;
}

.comments-list__item-body {
    padding-left: 48px;
}

.comments-list__ava .ava__name {
    font-size: 15px;
    font-weight: 600;
}

/* ------------ /end Comment pages ------------ */


/* ------------ Similar records ------------ */
.similar-records {
    gap: 0;
    font-size: 15px;
}

.similar-records:empty {
    display: none;
}

.similar-records__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.similar-records__list-item {
    display: flex;
    gap: 20px;
}

.similar-records__list-text {
    display: flex;
    gap: 12px;
}

.similar-records__empty-text {
    margin: 0;
}

/* ------------ /end Similar records ------------ */


/* ------------ Statistics pages ------------ */
.statistics-index {
    padding-bottom: 40px;
}

.statistics-index .rightbar {
    align-self: flex-start;
}

.statistics-index .main__conent-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.statistics-counter {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 20px;
}

.statistics-counter__item {
    width: calc(20% - 16px);
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--theme-background-color);
    border-radius: var(--theme-border-radius);
    border: var(--theme-statistics-counter-item-border);
}

.statistics-counter__count {
    margin-bottom: 0;
    padding: 4px 10px;
    background-color: var(--theme-main-color);
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.statistics-counter__status-name {
    margin-bottom: 0;
    font-size: 15px;
}

.statistics-index .main-table a {
    text-decoration: none;
}

/* Charts */
.chart-container {
    position: relative;
}

.processes-count-chart {
    height: 640px;
}

.active-manufacturers-chart {
    height: 460px;
}

.chart-download-btn {
    position: absolute;
    top: 3px;
    right: 4px;
    background: var(--theme-background-color);
    color: var(--theme-chart-toolbox-icons-color);
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
    cursor: pointer;
}

/* Statuses */
.general-status-1 {
    background-color: #5470C6;
}

.general-status-2 {
    background-color: #91CC75;
}

.general-status-3 {
    background-color: #FAC858;
}

.general-status-4 {
    background-color: #EE6666;
}

.general-status-5 {
    background-color: #73C0DE;
}

.general-status-6 {
    background-color: #3BA272;
}

.general-status-7 {
    background-color: #FC8452;
}

.general-status-8 {
    background-color: #9A60B4;
}

.general-status-9 {
    background-color: #EA7CCC;
}

.general-status-10 {
    background-color: #5470C6;
}

/* ------------ /end Statistics pages ------------ */


/* ------------ Users pages ------------ */
.users-create .main,
.users-edit .main {
    overflow: unset;
}

/* ------------ /end users pages ------------ */


/* ------------ Templated Models pages ------------ */
.templated-models-create .main,
.templated-models-edit .main {
    overflow: unset;
}

/* ------------ /end Templated Models pages ------------ */


/* ------------ Processes pages ------------ */
/* Index page */
.status-periods__hr {
    height: 4px;
    margin: 8px 0;
    border: none;
}

/* Create page */
.historical-process-date-container {
    display: none;
}

.historical-process-date-container--visible {
    display: block;
}

.processes-create__forecast-inputs-container:empty {
    display: none;
}

/* ------------ /end Processes pages ------------ */


/* ------------ Processes status history pages ------------ */
/* Index page */
.process-status-history-index .about-process {
    padding: 20px 24px 24px;
    margin-bottom: 16px;
}

.process-status-history-index .about-process .main-title {
    margin-bottom: 20px;
}

.process-status-history-index .about-process .secondary-table {
    width: 100%;
}

/* ------------ /end Processes status history pages ------------ */


/* ------------ Plan pages ------------ */
.plan-country-codes-create .main,
.plan-country-codes-edit .main {
    overflow: unset;
}

/* Plan show */
.plan-table {
    --th-country-name-width: 64px;
    --th-mah-name-width: 60px;
}

.plan-table thead {
    height: auto;
    z-index: 2;
}

.plan-table thead tr:first-child {
    text-align: center;
}

.plan-table tbody {
    z-index: 1;
}

.plan-table th,
.plan-table td {
    border: var(--theme-input-border);
}

.plan-table a {
    text-decoration: none;
}

.plan-table__divider {
    height: 32px;
}

.plan-table__th--country-name {
    width: var(--th-country-name-width);
}

.plan-table__th--mah-name {
    width: var(--th-mah-name-width);
}

.plan-table__td--year {
    color: var(--theme-main-color);
    position: sticky;
    left: 0;
    background-color: var(--theme-background-color);
}

.plan-table__td--country-name {
    position: sticky;
    left: 0;
    background-color: var(--theme-background-color);
}

.plan-table__td--mah-name {
    position: sticky;
    left: var(--th-country-name-width);
    background-color: var(--theme-background-color);
}
/* ------------ /end Plan pages ------------ */
