:root {
    --input-box-shadow: inset 0 1px 2px #00000013, 0 0 0 0.25rem #2c7be540;
    --input-border: 1px solid #c2ccd9;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__title {
    margin-bottom: 0;
}

.form__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: var(--theme-border-radius);
    background-color: #f9fafd;
    box-shadow: var(--theme-box-shadow);
}

.form__submit {
    align-self: flex-start;
}

/* Label */
.label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label__text {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #5E6E82;
}

.label__required {
    color: var(--danger-color);
}

/* Form Group */
.form-group__input-container {
    position: relative;
}

.form-group__error-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    display: none;
    font-size: 20px;
    color: var(--danger-color);
}

.form-group--error .form-group__error-icon {
    display: inline-block;
}

.form-group__error-message:empty {
    display: none;
}

.form-group__error-message {
    margin: 8px 0 0;
    font-size: 12px;
    color: var(--danger-color);
}

/* Horizontal Form Group */
.form-group--horizontal {
    align-self: flex-start;
}

.form-group--horizontal .label {
    flex-direction: row;
    gap: 32px;
}

/* Input & Textarea */
.input,
.textarea {
    width: 100%;
    padding: 8px 16px;
    font-size: 15px;
    background-color: white;
    border: var(--input-border);
    border-radius: 4px;
    transition: var(--theme-transition);
    outline: none;
}

.input::placeholder,
.textarea::placeholder {
    opacity: 1;
    color: #80808082;
}

.input:focus,
.textarea:focus {
    border-color: var(--main-color-lighter);
    box-shadow: var(--input-box-shadow);
}

.input--highlight {
    border-color: var(--main-color);
}

.input:read-only,
.textarea:read-only {
    background-color: #f1f1f1;
}

.form-group--error .input:focus,
.form-group--error .textarea:focus {
    box-shadow: 0 0 0 0.25rem rgba(230, 55, 87, .25);
}

.form-group--error .input {
    padding-right: 40px;
}

.form-group--error .input,
.form-group--error .textarea {
    border-color: var(--danger-color);
}

/* File input */
.input[type="file"]::-webkit-file-upload-button,
.input[type="file"]::file-selector-button {
    display: none;
}

/* Switch */
.switch {
    width: 2em;
    height: 1em;
    font-size: 20px;
    border: 1px solid #b6c1d2;
    border-radius: 2em;
    background-image: url(/img/main/switch.svg);
    background-position: left center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    appearance: none;
    transition: background-position .15s ease-in-out;
    print-color-adjust: exact;
}

.switch:checked {
    border-color: var(--main-color);
    background-image: url(/img/main/switch-checked.svg);
    background-position: right center;
    background-color: var(--main-color);
}

/* Checkbox */
.checkbox {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    font-size: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #b6c1d2;
    border-radius: 0.25em;
    appearance: none;
    print-color-adjust: exact;
}

.checkbox:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
    background-image: url(/img/main/checkbox-checked.svg);
}

.checkbox:focus {
    box-shadow: 0 0 0 0.25rem rgba(44, 123, 229, .25);
}
